{{ define "main" }}

{{ .Content }}

{{ range where site.RegularPages "Section" "stream" }}
<h3 id="{{ .Date.Format "Monday, 2 January 2006"| urlize}}">{{ .Date.Format "Monday, 2 January 2006" }}</h3>

  {{ .Content }}

  {{ if .Params.tags }}
  <div style="background-color: rgb(240, 240, 240);">
    This post is tagged with: 
        {{ range .Params.tags }}
        <a href="{{ "tags" | absURL }}/{{ . | urlize }}">{{ . }}</a>
        {{ end }}
  {{ else }}
    <div style="background-color: rgb(240, 240, 240); margin-top: 20px;">
      This post is untagged. 
    </div>
  {{ end }}
  </div>
  <hr class="new1">
  {{ end }}

{{ end }}
