{{ define "main" }}

{{ .Content }}

{{ $paginator := .Paginate (where site.RegularPages "Section" "stream") }}

{{ range $paginator.Pages }}

<h3 id="{{ .Date.Format "Monday, 2 January 2006"| urlize}}">{{ .Date.Format "Monday, 2 January 2006" }}</h3>

<div style="margin-bottom: 1em;">
    {{ .Summary }}
</div>
<div style="margin-bottom: 1em;">
    <a href="{{ .RelPermalink }}">Read more...</a>
</div>


{{ if .Params.tags }}
<div style="background-color: rgb(240, 240, 240);">
    This post is tagged with: 
    {{ range .Params.tags }}
    <a href="{{ "tags" | absURL }}/{{ . | urlize }}">{{ . }}</a>
    {{ end }}
    {{ else }}
    <div style="background-color: rgb(240, 240, 240); margin-top: 20px;">
        This post is untagged. 
    </div>
    {{ end }}
</div>
<span><small><a href="{{ "stream" | absURL }}/#{{ .Date.Format "Monday 2 January 2006" | urlize}}">permalink</a></small></span>

<hr class="new1">
{{ end }}

<p><em>Navigation:</em></p>
    
{{ if $paginator.HasPrev }}
    <a href="{{ $paginator.Prev.URL }}">&larr;</a>
{{ end }}


{{ range $paginator.Pagers }}
    {{ if (eq .PageNumber $paginator.PageNumber) }} 
        <strong><a href="{{ .URL }}" style="background-color: lightgray; color: black">{{ .PageNumber }}</a></strong>
    {{ else }}
        <a href="{{ .URL }}">{{ .PageNumber }}</a>
    {{ end }}
{{ end }}

{{ if $paginator.HasNext}}
    <a href="{{ $paginator.Next.URL }}">&rarr;</a>
{{ end }}


{{ end }}
