{{ define "main" }}

  <main>
    <div>
      <h2>{{ .Title }}</h2>
      {{ .Content }}
      <ul>
      {{ range .Pages.ByDate.Reverse }}
        {{ if eq .Section "stream"}}
            {{ $url := (.Date.Format "Monday 2 January 2006") | urlize }}
            <li>Stream: <a href="/stream/#{{ $url }}">{{ .Date.Format "Monday 2 January 2006" }}</a></li>
          {{ else }}
            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
      {{ end }}
      </ul>
    </div>
  </main>

{{ end }}
