{{ define "main" }}

<style type="text/css" media="screen">
  li {
    margin-bottom: 1.2em;
  }
</style>

<h2 class="title">{{ .Title }}</h2>

{{ .Content }}

  {{ if .Params.tags }}
  <div style="background-color: rgb(240, 240, 240);">
    This page is tagged with: 
        {{ range .Params.tags }}
        <a href="{{ "tags" | absURL }}/{{ . | urlize }}">{{ . }}</a>
        {{ end }}
  {{ else }}
    <div style="background-color: rgb(240, 240, 240); margin-top: 20px;">
      This page is untagged. 
    </div>
  {{ end }}
  </div>

{{ end }}
